.controller.custom{
    /* The background image is basically the base for the controller's skin. The 
    PS3 controller's skin can be found at http://mrmcpowned.com/gamepad/ps3-assets/base.png
    and you can observe it as an example. The sticks, buttons, and directional arrows are missing
    because their appropriate elements will be incorperated when their styling is defined below.
    The entirity of the skin's visual styling is done via background images and CSS sprites. */ 
    background: url(hud-bg.png); 
    height: 180px;
    width: 600px;
    position: absolute;
    z-index: -1;
}
/* This hides the controller's button when disconnected so only the background image remains */ 
.custom.disconnected div {
    display: none;
}
.custom .triggers{ /* The triggers are housed inside a div, so this sizes the div properly and positions it */
    width: 600px;
    height: 180px;
    position: absolute;
    margin-top: -180px;
    z-index: 0;
}
.custom .trigger{/* These are the actual triggers themselves */
    width:20px;
    height:372px;
    /*background: url(white.png);*/
    opacity: 0;
}
/* The left and right classes below are used to position the triggers
within the div they're contained in. Since their positions is realtive
to the size of the parent element, we simply resize the parent element 
above to achieve the desired position. */
.custom .trigger.left{ 
    position: absolute;
    margin-top: 144px;
    right: 197px;
    background: url(red.png);
    transform: rotate(90deg);
}
.custom .trigger.right{
    position: absolute;
    margin-top: 76px;
    right: 197px;
    background: url(green.png);
    transform: rotate(90deg);
}
